.cart-list {
  padding-left: 0px;
}
.remove-all-btn {
  color: #0b69ff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  display: flex;
  background-color: transparent;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .remove-all-btn {
    font-size: 12px;
  }
}
.checkout-btn-lg {
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  width: 100%;
  height: 30px;
  font-size: 12px;
}
.checkout-btn-sm {
  display: none;
}
@media screen and (max-width: 767px) {
  .checkout-btn-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b69ff;
    color: #ffffff;
    border: none;
    width: 100%;
    height: 30px;
    font-size: 10px;
    margin: 5px;
  }
  .checkout-btn-lg {
    display: none;
  }
}
.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.cart-summary-heading {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #616e7c;
}
.cart-amount {
  color: #171f46;
  font-size: 22px;
  font-weight: 600;
}
.cart-summary-desc {
  font-size: 14px;
  font-family: 'Roboto';
  color: #616e7c;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .cart-summary-heading {
    font-size: 13px;
  }
  .cart-amount {
    font-size: 16px;
  }
  .cart-summary-desc {
    font-size: 11px;
  }
}
